.inputWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    width: 100%;
}

.label, .input {
    display: flex;
    align-items: center;
}

.label {
    justify-content: right;
}

.input > input[type=text], .input > input[type=number] {
    width: 50px;
    text-align: left;
}

.input > input[type=checkbox] {
    width: 15px;
    aspect-ratio: 1/1;
    text-align: left;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}