.gridWrapper {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 3px;
    background-color: white;
}

.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
}