.grid {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;  
    grid-template-rows: 50px 50px 50px 50px 50px;
    background-color: #fff;
    scale: 0.6;
    gap: 2px 2px;
}

.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: auto;
    height: auto;
}

.cone {
    background-color: #FAB007;
}

.cube {
    background-color: #7E51E2;
}