#counter {
    display: block;
}

#grid {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    height: 30px;
}

#plus, #minus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans, bold";
    font-size: 16pt;
    border: none;
}

#plus {
    background-color: lightgreen;
    color: black;
}

#minus {
    background-color: lightcoral;
    color: black;
}

#number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans, bold";
    font-size: 12pt;
    color: white;
}