@font-face {
    font-family: "Fira Sans";
    src: url("Fira-Sans/FiraSans-Regular.ttf");
}

@font-face {
    font-family: "Fira Sans, bold";
    src: url("Fira-Sans/FiraSans-Bold.ttf");
}

body {
    font-family: "Fira Sans";
    background-color: #333333;
    color: white;
}

#game-title {
    font-family: "Impact";
    color: #c0362c;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

.phase-title {
    text-align: center;
}

.phases {
    display: none;
}

.form {
    border: 2px solid white;
    margin: 10px;
}

#nav {
    text-align: center;
}

#backButton, #nextButton, #submitButton {
    font-family: "Fira Sans, bold";
    font-size: 14pt;
    margin: 2.5px;
    text-decoration: none;
    background-color: white;
    border: none;
}

#backButton, #submitButton {
    display: none;
}

/* Form Styles */

.centerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
}

.formRow { /* Divides each row into two slots, intentionally uneven */
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 5px;
    margin: 10px;
}

.rowCenter { /* Divides each row into two equal slots */
    grid-template-columns: 50% 50%;
}

.right {
    justify-content: right;
    text-align: right;
}

.blue {
    color: hsl(208, 100%, 50%);
}

.red {
    color: hsl(0, 85%, 50%);
}

.inputLabel {
    font-size: 11pt;
}

.radioLabel {
    font-size: 11pt;
}

.textInput {
    font-family: "Fira Sans";
    font-size: 12pt;
    width: 100px;
}

.radioInput {
    margin: 0 3px 0 5px;
}

/* Typically used for organizing radios vertically */
.columnbox {
    display: flex;
    flex-direction: column;
}

/* Default margin for column radios to prevent scouters from fatfingering */
.radioMargin {
    margin: 5px 0 5px 0;
}

/* Aligns elements at the center, horizontally */
/* Initially used after .formRow, also used for aligning radios and their labels together */
.hMiddlebox { 
    display: flex;
    align-items: center;
}

.counterGrid {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
}