@font-face {
    font-family: 'Fira Sans';
    src: url('../public/Fira_Sans/FiraSans-Regular.ttf');
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../public/Fira_Sans/FiraSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Eras';
    src: url('../public/Eras/eras-book-587181c4d21d4.otf');
}

@font-face {
    font-family: 'Eras';
    src: url('../public/Eras/eras-bold-5871825645ec8.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: local('Trebuchet MS');
}

body {
    font-family: 'Fira Sans', 'Trebuchet MS';
    background-color: #333333;
    color: white;
}

input {
    font-family: 'Fira Sans', 'Trebuchet MS';
}

.game-title {
    font-family: 'Eras', 'Fira Sans', 'Verdana';
    font-weight: bold;
    color: #c0362c;
    text-align: center;
    margin: 10px 0 10px 0;
    border-bottom: 3px solid white;
}

.phase-title {
    font-family: 'Eras', 'Fira Sans', 'Verdana';
    font-weight: bold;
    text-align: center;
    margin: 20px 0 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    border: 1px solid white;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    margin: 20px;
}

.backButton, .submitButton, .resetButton {
    font-family: 'Fira Sans', 'Trebuchet MS';
    font-size: 12pt;
    font-weight: bold;
}